*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --light-blue: #e5f4e4;
  --wheat: #f5d7b0;
  --white: #fff;
  --purple: #6e3c61;
  --blue: #7cc4f9;
  --brown: #4c2d37;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 20px 20px;
  width: 100%;
  background-color: var(--blue);
  z-index: 1;
}

.logo {
  padding: 10px 120px;
  font-size: 1.3em;
  font-weight: 600;
  color: var(--white);
  text-align: center;
}

nav ul {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px 120px;
  text-align: center;
}

li a {
  position: relative;
  font-size: 1.3em;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
}

/* underline */
li a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  height: 4px;
  width: 0;
  background-color: var(--white);
  border-radius: 50px;
  transition: width 0.3s ease-in-out;
}

/* when the text hovered */
li a:hover:before {
  width: 100%;
}

/* end of nav */

/* hero section */

.container-hero {
  position: relative;
  background-color: var(--blue);
  background-image: url(img/hero-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 70px;
  color: var(--purple);
  font-size: 2rem;
  padding: 20% 20%;
}

.container-hero p {
  padding-top: 40px;
  color: var(--purple);
}

.container-hero a {
  position: relative;
  font-size: 2.1rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
}

.hero-text {
  border: 2px solid black;
  width: 100%;
  left: 100px;
}

.container-hero a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  height: 4px;
  width: 0;
  background-color: var(--white);
  border-radius: 50px;
  transition: width 0.3s ease-in-out;
}

.container-hero a:hover:before {
  width: 100%;
}

/* the end of hero section */

/* about section */

.about-section {
  position: relative;
  width: 100%;
  height: auto;
  top: 80px;
  padding: 10px 30px;
  text-align: center;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* title for about */
.title-about {
  margin-bottom: 10px;
}

.item-1 {
  /* border: 2px solid black; */
  width: 50%;
  height: 10%;
}

.item-2 {
  /* border: 2px solid black; */
  width: 50%;
  height: 10%;
}

/* the end of about section */

/* products */

.product {
  position: relative;
  top: 100px;
  width: 100%;
  height: auto;
}

.product-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background-color: var(--light-blue);
}

.product-food,
.product-drink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background-color: var(--light-blue);
}

.container-cards {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding: 20px 0;
  background-color: var(--light-blue);
}

.cards {
  width: 20%;
  height: 10%;
  padding: 20px 10px;
  text-align: center;
  gap: 20px;
  border-radius: 20px;
  background-color: var(--wheat);
}

/* buat gambar di card */
.cards img {
  width: 50%;
  height: 20%;
}

.cards p {
  margin: 10px 0;
  font-weight: 600;
}

.cards button {
  width: 100%;
  height: 100%;
  background-color: var(--light-blue);
  font-weight: bold;
  border-radius: 20px;
}

.cards button:hover {
  cursor: pointer;
  background-color: var(--blue);
}

.cards h4 {
  color: var(--purple);
  font: 600;
}

/* Social */

.social {
  position: relative;
  top: 100px;
  width: 100%;
  height: 40%;
  background-color: var(--wheat);
}

.social h1,
.container-social {
  text-align: center;
  padding: 30px 0;
}

.container-social {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* the end of social */

/* footer */
footer {
  position: relative;
  width: 100%;
  height: auto;
  top: 100px;
  background-color: var(--blue);
  padding: 30px 0;
  text-align: center;
  z-index: 3;
}
/* the end of footer */

/* mobile devices */

@media screen and (max-width: 600px) {
  nav {
    justify-content: center;
  }

  nav ul {
    display: none;
  }

  .hero-text,
  .hero-text a {
    font-size: 1.2rem;
    align-items: center;
  }

  .item-1 {
    font-size: 0.7rem;
  }

  .item-2 {
    font-size: 0.7rem;
  }

  .title-about {
    font-size: 0.7rem;
  }
}
