*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --light-blue: #e5f4e4;
  --wheat: #f5d7b0;
  --white: #fff;
  --bright-blue: #2b2bd8;
  --blue: #7cc4f9;
  --brown: #4c2d37;
}

body {
  overflow-x: hidden;
}

/* navbar */
nav {
  display: flex;
  background-color: var(--bright-blue);
  justify-content: space-around;
  /* padding: 20px 0; */
  color: var(--white);
  height: 50px;
  align-items: center;
}

nav .logo {
  letter-spacing: 3px;
  z-index: 2;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li a:hover {
  color: var(--wheat);
}

/* hamburger menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--white);
  border-radius: 3px;
  transition: all 0.4s;
  z-index: 1;
}

/* hamburger menu animaton */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: var(--wheat);
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: var(--wheat);
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* end of nav */

/* hero section */

.container-hero {
  position: relative;
  background-color: var(--blue);
  background-image: url(img/hero-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 70px;
  color: var(--white);
  font-size: 2rem;
  padding: 20% 20%;
}

.container-hero p {
  padding-top: 40px;
  color: var(--bright-blue);
}

.container-hero a {
  position: relative;
  font-size: 2.1rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
}

.hero-text {
  width: 100%;
  left: 100px;
}

.container-hero a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  height: 4px;
  width: 0;
  background-color: var(--white);
  border-radius: 50px;
  transition: width 0.3s ease-in-out;
}

.container-hero a:hover:before {
  width: 100%;
}

/* the end of hero section */

/* about section */

.about-section {
  position: relative;
  width: 100%;
  height: auto;
  top: 80px;
  padding: 10px 30px;
  text-align: center;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* title for about */
.title-about {
  margin-bottom: 10px;
}

.item-1 {
  /* border: 2px solid black; */
  width: 50%;
  height: 10%;
}

.item-2 {
  /* border: 2px solid black; */
  width: 50%;
  height: 10%;
}

/* the end of about section */

/* products */

.product {
  position: relative;
  top: 100px;
  width: 100%;
  height: auto;
}

.product-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background-color: var(--light-blue);
}

.product-food,
.product-drink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background-color: var(--light-blue);
}

.container-cards {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding: 20px 0;
  background-color: var(--light-blue);
}

.cards {
  width: 20%;
  height: 10%;
  padding: 20px 10px;
  text-align: center;
  gap: 20px;
  border-radius: 20px;
  background-color: var(--wheat);
}

/* buat gambar di card */
.cards img {
  width: 50%;
  height: 20%;
}

.cards p {
  margin: 10px 0;
  font-weight: 600;
}

.cards button {
  width: 100%;
  height: 100%;
  background-color: var(--light-blue);
  font-weight: bold;
  border-radius: 20px;
}

.cards button:hover {
  cursor: pointer;
  background-color: var(--blue);
}

.cards h4 {
  color: var(--bright-blue);
  font: 600;
}

/* Social */

.social {
  position: relative;
  top: 100px;
  width: 100%;
  height: 40%;
  background-color: var(--wheat);
}

.social h1,
.container-social {
  text-align: center;
  padding: 30px 0;
}

.container-social {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* the end of social */

/* footer */
footer {
  position: relative;
  width: 100%;
  height: auto;
  top: 100px;
  background-color: var(--blue);
  padding: 30px 0;
  text-align: center;
  z-index: 3;
}
/* the end of footer */

/* responsive breakpoints */

/* tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* mobile */
@media screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }

  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: var(--bright-blue);
    z-index: 1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
}
